<h5>This form uses Twitter's GET statuses/user_time API function to get a collection of the most recent Tweets posted by the user indicated by ther screen_name or user_id.  This method can only return up to 3,200 of a user’s most recent Tweets. Native retweets of other statuses by the user is included in this total, regardless of whether include_rts is set to false when requesting this resource.<a href="https://dev.twitter.com/rest/reference/get/statuses/user_timeline" target="_blank">  For more detail see here.</a></h5>

<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="User_id, ex: @twitter" ng-model="searchTerm" autocomplete="on">
    <!-- <input type="text" class="form-control" placeholder="maxId (optional)" ng-model="max_id"> -->
  </div>
  <button type="submit" class="btn btn-default" ng-click=search() ng-disabled="loading">
  <span ng-hide="loading">Submit</span>
  <span ng-show="loading"><i class="fa fa-spinner fa-spin"></i> Getting Tweets...</span>
  </button>
  <button type="button" class="btn btn-default" csv-header="['Created', 'Id', 'text', 'user', 'favorite_count', 'favorited', 'retweet_count', 'retweeted']" ng-csv="results" filename="test.csv">Export</button>
 <!--  <br><img id="mySpinner" src="spinner.gif" ng-show="loading" /> -->
</form>
  <table class="table table-striped">
    <thead>
      <td>#</td>
      <td>Id</td>
      <td>Created</td>
      <td>User</td>
      <td>Text</td>
    </thead>
    <tbody>
      <tr ng-repeat="tweet in results">
        <td>{{$index +1 }}</td>
        <td>{{tweet.id}}</td>
        <td>{{tweet.created_at}}</td>
        <td>@{{tweet.username}}</td>
        <td>{{tweet.text}}</td>
      </tr>
    </tbody>
  </table>