<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#/signin">
        <span><img src="/img/twitter.png"> Social Node</span>
      </a>
      <a class="navbar-text" href="#/">
        Timeline
      </a>
      <a class="navbar-text" href="#/search">
        Search
      </a>
      <a class="navbar-text" href="#/stream">
        Stream
      </a>
      <a class="navbar-text" href="#/usershow">
        User
      </a>
      <a class="navbar-text" href="#/facebook">
        Facebook
      </a>
    </div>
  </div>
</nav>
<h3>Search API</h3>

<h5>This form uses Twitter's Search API. The Twitter Search API is part of Twitter’s REST API. It allows queries against the indices of recent or popular Tweets and behaves similarly to, but not exactly like the Search feature available in Twitter mobile or web clients, such as Twitter.com search. The Twitter Search API searches against a sampling of recent Tweets published in the past 7 days. <a href="https://dev.twitter.com/rest/public/search" target="_blank">  For more detail see here.</a></h5>
<h5>By default it will return up to 1000 tweets.  To gather more, use the last tweet's id as the maxId so the search can continue from there.</h5>

<div class="form-container">
<form class="navbar-form" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="search term" ng-model="searchTerm" autocomplete="on">
    <input type="text" class="form-control" placeholder="maxId (optional)" ng-model="maxId" autocomplete="on">
  </div>
  <button type="submit" class="btn btn-default" ng-click=search() ng-disabled="loading">
  <span ng-hide="loading">Submit</span>
  <span ng-show="loading"><i class="fa fa-spinner fa-spin"></i> Getting Tweets...</span>
  </button>
  <button type="button" class="btn btn-default" csv-header="['Created', 'Id', 'text', 'user', 'favorite_count', 'favorited', 'retweet_count', 'retweeted']" ng-csv="results" filename="test.csv">Export</button>
</form>
</div>
<div class="tweets-container">
  <table class="table table-striped">
    <thead>
      <td>#</td>
      <td><a ng-click="sortType = 'id'; sortReverse = !sortReverse">Id
        <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
      </a></td>
      <td><a ng-click="sortType = 'created_at'; sortReverse = ! sortReverse">Created
        <span ng-show="sortType == 'created_at' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'created_at' && sortReverse" class="fa fa-caret-up"></span>
      </a></td>
      <td>User</td>
      <td>Text</td>
      <td><a ng-click="sortType = 'favorite_count'; sortReverse = !sortReverse">Fav Cnt
        <span ng-show="sortType == 'favorite_count' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'favorite_count' && sortReverse" class="fa fa-caret-up"></span>
      </a></td>
      <td><a ng-click="sortType = 'retweet_count'; sortReverse = !sortReverse">RT Cnt
        <span ng-show="sortType == 'retweet_count' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'retweet_count' && sortReverse" class="fa fa-caret-up"></span>
      </a></td>
      <td>Sentiment</td>
    </thead>
    <tbody>
      <tr ng-repeat="tweet in results | orderBy:sortType:sortReverse">
        <td>{{$index +1 }}</td>
        <td>{{tweet.id}}</td>
        <td>{{tweet.created_at | date:"MM/dd/yyyy 'at' h:mma"}}</td>
        <td>@{{tweet.username}}</td>
        <td>{{tweet.text}}</td>
        <td>{{tweet.favorite_count}}</td>
        <td>{{tweet.retweet_count}}</td>
        <td>{{tweet.sentiment}}</td>
      </tr>
    </tbody>
  </table>
</div>